@model g16_dotnet.Models.Domain.Pad
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="box">
    <h2 class="box-title box-title-display">Actie</h2>
    <div class="box-container">
        <p class="action-description">
            @Model.HuidigeActie.Omschrijving
        </p>
        <form asp-action="VoerActieUit">

            <div>
                <label for="toegangsCode" class="box-label"><b>Toegangscode: </b></label>
                <input type="text" id="toegangsCode" name="toegangsCode" class="box-input" placeholder="Code" />
            </div>
            <button type="submit" class="box-button">Bevestig</button>
        </form>
    </div>
</div>
