@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="box">
    <h2 class="box-title box-title-display">Groep geblokkeerd</h2>

    <div class="box-container">
        <br />
        <p>
            Jullie groep is eventjes geblokkeerd zodat je kan pauzeren, wacht op je leerkracht om verder te gaan!
        </p>
        <br />
        <br />
        <a asp-action="Index" class="box-button">Verder gaan met de zoektocht!</a>
    </div>
</div>