@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="box">
    <h2 class="box-title box-title-display">HOERA!!!</h2>
    <div class="box-container">
        <h2>Proficiat, jullie hebben de schatkist gevonden!!!</h2>
    </div>
    <img src="~/images/balloon.png" alt="balloon" class="balloon" />

    <img src="~/images/treasure.png" alt="treasure" class="treasure" />
</div>