
<div class="box">
    <h2 class="box-title box-title-display">Hoera!</h2>
    <div class="box-container">
        <h2>Proficiat, jullie hebben de schatkist gevonden!</h2>
    </div>
    <img src="~/images/balloon.png" alt="balloon" class="balloon" />

    <img src="~/images/treasure.png" alt="treasure" class="treasure" />
</div>