@model g16_dotnet.Models.Domain.Oefening
@{
    ViewData["Title"] = "Spel spelen";
}

<h2>@ViewData["Title"]</h2>
<h3>Voortgang: @ViewData["voortgang"] opdrachten zijn voltooid</h3>
<p>
    @Model.Opgave
</p>
<form asp-action="BeantwoordVraag">
    <div class="form-inline">
        <div class="form-group">
            <label for="groepsAntwoord"></label>
            <input type="text" id="groepsAntwoord" name="groepsAntwoord" class="form-control" />
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>