@model IEnumerable<g16_dotnet.Models.Domain.Groep>
@{
    ViewData["Title"] = "Deelnemen sessie";
}

<h2>@ViewData["Title"]</h2>

@if ((bool)(ViewData["codeIngegeven"]))
{
    foreach(var groep in Model)
    {
        <div>
            <h4>
                @groep.Groepsnaam
            </h4>
            <ul>
                @foreach(var leerling in groep.Leerlingen)
                {
                    <li>@($"{leerling.Voornaam} {leerling.Naam}")</li>
                }
            </ul>
        </div>
    }
}
else
{
    <form asp-action="ValideerSessieCode">
        <div class="form-inline">
            <div class="form-group">
                <label for="code">Geef sessiecode in: </label>
                <input type="text" id="code" name="code" class="form-control" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
}

