@model g16_dotnet.Models.Domain.Sessie
@{
    ViewData["Title"] = "Deelnemen sessie";
}

<a asp-action="BeheerSessies" class="box-button-secundary" style="margin-bottom:10px">
    Beheer sessies
</a>

@if ((bool)(ViewData["codeIngegeven"]))
{
    <div class="box">
        <h2 class="box-title box-title-display">Kies Groep</h2>
        <div class="box-container">
            @Html.Partial($"_{Model.Doelgroep.ToString()}", Model.Groepen)
        </div>
    </div>

}
else
{
    <div class="box">
        <form asp-action="ValideerSessieCode">
            <h2 class="box-title box-title-display">Breakout Box</h2>
            <div class="box-container" id="indexWindow">
                <img id="ajaxLoading" src="~/images/ajax-loader.gif" hidden>
            </div>
        </form>
    </div>
}

<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="~/js/verderspelen.js">
</script>

