@model g16_dotnet.Models.Domain.Sessie
@{
    ViewData["Title"] = "Deelnemen sessie";
}

<a asp-action="BeheerSessies" class="box-button-secundary" style="margin-bottom:10px">
    Beheer sessies
</a>

@if ((bool)(ViewData["codeIngegeven"]))
{
    <div class="box">
        <h2 class="box-title box-title-display">Kies Groep</h2>
        <div class="box-container">
            @Html.Partial($"_{Model.Doelgroep.ToString()}", Model.Groepen)
        </div>
    </div>

}
else
{
    <div class="box">
        <form asp-action="ValideerSessieCode">
            <h2 class="box-title box-title-display">Breakout Box</h2>
            <div class="box-container">
                <input class="box-input" name="code" id="sessieCode" placeholder="Sessie code">
                <button class="box-button" type="submit" style="width: 100%;">Deelnemen</button>
            </div>
        </form>
    </div>
}

<script type="text/javascript">
    window.localStorage.setItem("doelgroep", @Model?.Doelgroep.ToString())
</script>

