@{
    ViewData["Title"] = "Toegang geweigerd";
}

<div class="box">
    <h2 class="box-title box-title-display">Toegang geweigerd</h2>
    <div class="box-container">
        <p>
            Je hebt niet de juiste rechten voor deze actie
        </p>
        <a asp-action="Index" asp-controller="Sessie" class="box-button">Keer terug naar het beginscherm</a>
    </div>
</div>
