// Thema jongeren, standaard thema
$main-color: #00C48A;
$main-color-dark: #00AA77;
$light-purple: #651FFF;
$dark-purple: #4527A0;
$red: #E53935;
$dark-red: #b71c1c;
$yellow: #FFC107;
$dark-yellow: #F9A825;

// Thema volwassenen

/*$main-color: #FAFAFA;
$main-color-dark: #E0E0E0;
$light-purple: #2979FF;
$dark-purple: #0D47A1;
$red: #E53935;
$dark-red: #b71c1c;
$yellow: #4CAF50;
$dark-yellow: #1B5E20;*/


body {
    font-family: 'Muli', 'Helvetica', sans-serif;
    background: linear-gradient(120deg,$main-color, $main-color-dark);
}

/*#region Header */

.header {
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;

    nav {
        display: flex;
        margin: 0 20px;
    }

    nav > ul > li {
        display: inline;
    }

    h4 {
        margin: 0 40px 0 5px;
        color: $main-color
    }

    li {
        margin: 0 15px;
    }

    li > a {
        text-decoration: none;
        color: rgb(29, 29, 29);
        transition: 0.35s all ease-in;
        padding-bottom: 2px;
        border-bottom: 1px solid transparent;
    }

    li > a:hover {
        border-bottom: 1px solid #424242;
    }
}
/*#endregion */

/*#region Container */
.container {
    width: 90%;
    /* 70px height header */
    height: calc(100vh);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*#endregion */

/*#region Box */

.box {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.box .box-container {
    padding: 30px 45px;
}

.box .box-title {
    text-align: center;
    padding: 10px;
    background-color: $light-purple;
    color: white;
    font-weight: normal;
    display: none;
}

.box .box-title-display {
    display: inherit;
}

.box .box-label {
    display: block;
    margin-bottom: 20px;
    color: rgb(59, 59, 59);
    text-align: center;
}

.box .box-input {
    width: 100%;
    outline: none;
    border: none;
    padding: 15px 0px;
    background-color: transparent;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #e4e4ef;
    font-family: 'Muli', sans-serif;
    border-radius: 2px;
}

.box-button {

    cursor: pointer;
    outline: none;
    border: none;
    padding: 16px 20px;
    color: white;
    background-color: $main-color;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    border-radius: 2px;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.15s ease-in-out;
    margin: 1px 0;
    text-decoration: none;
    display: inline-block;
}

.box-button-secundary {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 14px 18px;
    color: white;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    border-radius: 2px;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.15s ease-in-out;
    background-color: $light-purple;
    text-decoration: none;
    position: absolute;
    // 70px is the hight of the header
    top: calc(8vh);
    right: 4vw;
    text-decoration: none;
}

.box-button-default {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 16px 20px;
    color: black;
    background-color: white;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    border-radius: 2px;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.15s ease-in-out;
    margin: 1px 0;
    margin-left: 10px;
    text-decoration: none;
    border: 1px solid #BDBDBD;
    display: inline-block;
}

.box-button-danger {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 16px 20px;
    color: white;
    background-color: $red;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    border-radius: 2px;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.15s ease-in-out;
    margin: 1px 0;
    margin-left: 10px;
    text-decoration: none;
}

.box-button-yellow {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 16px 20px;
    color: white;
    background-color: $yellow;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    border-radius: 2px;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.15s ease-in-out;
    margin: 1px 0;
    text-decoration: none;
}


.box-button-group {
    text-align: center;
    margin: 30px 0 0;
}

.box-button:hover {
    transform: translateY(-1px);
    box-shadow: 0px 2px 0px $main-color-dark;
}

.box-button-secundary:hover {
    transform: translateY(-1px);
    box-shadow: 0px 2px 0px $dark-purple;
}

.box-button-default:hover {
    transform: translateY(-1px);
    box-shadow: 0px 1px 0px #BDBDBD;
}

.box-button-yellow:hover {
    transform: translateY(-1px);
    box-shadow: 0px 2px 0px $dark-yellow;
}

.box-button-danger:hover {
    transform: translateY(-1px);
    box-shadow: 0px 2px 0px $dark-red;
}



/* In case there are more groups and the box has an overflow */
.box {
    max-height: 80%;
    overflow-y: auto;
}
/*#endregion */

/*#region Alerts */
.alert {
    color: rgb(238, 237, 237);
    margin-bottom: 15px;
    margin-top: 10px;
    border-radius: 3px;
    text-align: center;
    position: relative;
}

.alert-danger {
    background-color: $red;
}

.alert-success {
    background-color: $yellow;
    color: white;
}

.alert .alert-text {
    padding: 10px 30px;
}

span.close {
    font-weight: bold;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: scaleX(1.25) translateY(-50%);
    color: black;
    opacity: 0.6;
    cursor: pointer;
}
/*#endregion */

/*#region Table */
.table {
    min-width: 700px;
    border-collapse: collapse;
}

th, td {
    padding: 10px 6px;
    text-align: left;
}

td {
    padding: 12px 6px;
}

td.table-align-right,
th.table-align-right {
    text-align: right;
}

tr:nth-child(even) {
    background-color: #f7f7f7;
}

.table-ul > li {
    margin: 0;
    padding: 10px 0 10px 30px;
    list-style: none;
    background-image: url('/images/icons/user-icon.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 15px;
}

li#groep {
    background-image: none;
    padding: 0;
}


.table-button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 14px 18px;
    color: white;
    background-color: $main-color;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    border-radius: 2px;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.15s ease-in-out;
    margin: 1px 0;
    text-decoration: none;
    display: inline-block;
}


.table-button:hover {
    transform: translateY(-1px);
    box-shadow: 0px 2px 0px $main-color-dark;
}


/*#endregion */


/*#region Option Container */
.option {
    width: 100px;
    height: 50px;
    background-color: $light-purple;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    right: 1vw;
    top: 30px;
}



.option::before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: -60%;
    transform: translateY(-50%);
    background-image: url(/images/icons/question-sign.svg);
    background-position: center;
    background-size: 59%;
    background-repeat: no-repeat;
    height: 100%;
    background-color: white;
    width: 60%;
}


/*#endregion */


.groepsBewerking {
    margin: 50px 0;
}

.action-description {
    margin-bottom: 20px;
}


.balloon {
    position: absolute;
    top: 10vh;
    right: 6vw;
    z-index: -1;
}

.treasure {
    position: absolute;
    bottom: 2vh;
    left: 15vw;
    height: 35vh;
    z-index: -1;
}

.table-ul#scroll {
    overflow-y: auto;
}

td#vertical-align {
    vertical-align: middle;
}
/*#region Account Validation */
.text-danger {
    color: $red;
    display: block;
    margin: 5px 0 10px 0;
    font-size: 14px;
}


.text-danger > ul {
    list-style-type: none
}

.validation-input {
    outline: none;
    border: none;
    padding: 10px 10px;
    background-color: transparent;
    box-sizing: border-box;
    margin-bottom: 0px;
    border: 1px solid #e4e4ef;
    font-family: 'Muli', sans-serif;
    border-radius: 2px;
    width: 100%;
    min-width: 23vw;
}

.box-button-small {
    margin: 10px 0;
    padding: 14px;
    display: inline-block;
}


.validation-label {
    display: block;
    margin: 10px 0 5px 0;
    font-size: 0.9rem;
    color: rgb(59, 59, 59);
}


.validation-link {
    font-size: 0.9rem;
}


/*#endregion */


/* Voor disablen links */
.not-active {
    pointer-events: none;
    cursor: default;
    background-color: gray;
}


.select-input {
    padding: 7px 50px 7px 13px !important;
    font-family: 'Muli';
    max-width: 100%;
    height: auto !important;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    background: url("https://image.ibb.co/iMeAJv/selectbox_arrow.png") right center no-repeat;
    background-color: #fff;
    color: #444444;
    font-size: 15px;
    line-height: 16px !important;
    appearance: none; /* this is must */
    -webkit-appearance: none;
    -moz-appearance: none;
}
/* body select.select_box option */

body select option {
    padding: 0 4px;
}
/* for IE and Edge */

select::-ms-expand {
    display: none;
}

select:disabled::-ms-expand {
    background: #f60;
}

.p-margin-top {
    margin: 10px 0;
}


.p-margin-top:first-child {
    margin-top: 0;
}

.p-margin-top:last-child {
    margin-bottom: 0;
}


.checkbox {
    width: 15px;
    height: 15px;
}